/*
Hearts of Diamond | Angela Zhang (Inky), Jonathan Wu (Loki), Jesse Xie (Polly)
SoftDev
P02: Wordle Mania!™
2022-03-03
Time Spent: ??
*/

/* Color Palette:
Light Red #f55662
Red #e63946
White #f1faee
Light Blue #a8dadc
Blue #457b9d
Dark Blue #1d3557 */

body {
  background: #457b9d;
  overflow: hidden;
  font-family: 'Pragati Narrow', sans-serif;
}

#wordleGrid {
  display: flex;
  justify-content: center;
  align-items: center;
}

#continue {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  width: 446px;
  height: 60px;
  font-size: 25px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  background: #e63946;
}

.titleName {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100px;
}

h1 {
  color: white;
  text-shadow: 0px 0px 10px black;
  text-align: center;
  margin-bottom: 0;
  font-size: 50px;
}

.wordleNav {
  background: #a8dadc;
  overflow: hidden;
  padding: 2px;
  box-shadow: 0px 3px 5px #1d3557;
  font-size: 20px;
}

.nav-link {
  margin-left: 2px;
  margin-right: 2px;
  color: #1d3557;
}

.nav-link:hover{
  background: #457b9d;
  color: #f1faee;
  transition: 0.4s ease all;
}

#active {
  background: #e63946;
  color: #f1faee;
}

#active:hover {
  background: #f55662;
  transition: 0.4s ease all;
}
