<!-- Hearts of Diamond | Angela Zhang (Inky), Jonathan Wu (Loki), Jesse Xie (Polly)
SoftDev
P02: Wordle Mania!™
2022-03-03
Time Spent: ?? -->

<!DOCTYPE html>
{% extends "index.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<nav class="wordleNav">
  <nav class="nav nav-pills nav-justified justify-content-center">
      <button id="colorButton"></button>
      <a class="nav-link" href="/">Normal</a>
      <a class="nav-link" href="/hard-wordle">Hard</a>
      <a class="nav-link" id="active" href="/chaos">Chaos</a>
      <a class="nav-link" href="/zen">Zen</a>
      <a class="nav-link" href="/leaderboard">Leaderboard</a>
      <button id="infoButton">?</button>
  </nav>

  <!-- <audio id="oneRight">
    <source src="../static/audio/ohmygodlookatthatwhatswrongwithyou.mp3" type="audio/mpeg">
  </audio>
  <audio id="twoRight">
    <source src="../static/audio/noyouarekiddingme.mp3" type="audio/mpeg">
  </audio>
  <audio id="threeRight">
    <source src="../static/audio/ohmygodno.mp3" type="audio/mpeg">
  </audio>
  <audio id="fourRight">
    <source src="../static/audio/whatisthat.mp3" type="audio/mpeg">
  </audio> -->

  <audio autoplay loop id="music">
    <source src="../static/audio/chaosMusic.mp3" type="audio/mpeg">
  </audio>

  <p class="hide" id="infoText">Guess as many <b>WORDLE</b>s as you can in 180 seconds. <br>
    The player will gain 60 seconds and 500 points for correctly guessing the word within
    six tries, and an extra 200 points for guessing the word within three tries. <br>
    Each guess must be a valid five-letter word. Press enter to submit. <br>
    After each guess, the color of the tiles will change to show how close your guess was to the word. <br>
    If the word is not correctly guessed within six tries, the player will gain 100 points for each letter in the correct position.
  </p>
  <script>
      var wordle = "{{ wordle }}";
      var time = {{ defaultTime }};
      var moreTime = {{ addTime }};
      var gamemode = "{{ mode }}";
      wordle = wordle.toUpperCase();
      var music = document.getElementById("music");
      music.volume = 0.5;
  </script>
</nav>
<div class="hide" id="colorDiv">
  <button class="colorText" id="default">Default</button> <br style="margin-top: 30px;">
  <button class="colorText" id="classic">Classic</button> <br>
  <button class="colorText" id="winter">Winter</button> <br>
  <button class="colorText" id="coffee">Coffee</button> <br>
</div>
<div id = "submit" class = "submitScore hide">
  <h2> Do you want to submit your score? </h2>
  <form action = "leaderboard-chaos" method = "POST">
    <div id="inputs">
      <label for="user" class="h4"> Username: </label>
      <input type="text" id="user" name="user">
      <input type="text" class="hide" id="score" name="score">
      <input type="text" class="hide" id="mode" name="mode">
    </div>
    <div id="inputs">
      <a href = "/leaderboard-chaos">
        <input type="submit" value="Submit" name="user">
      <a>
      <a href = "/chaos">
        <input type="button" value="No, play again!">
      </a>
    </div>
  </form>
</div>
{% endblock %}
