<!-- Hearts of Diamond | Angela Zhang (Inky), Jonathan Wu (Loki), Jesse Xie (Polly)
SoftDev
P02: Wordle Mania!™
2022-03-03
Time Spent: ?? -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pragati+Narrow&family=Yantramanav:wght@300&display=swap" rel="stylesheet">
    <title>Wordle Mania!™</title>
  </head>
  <body>
    <nav class="wordleNav">
      <nav class="nav nav-pills nav-justified justify-content-center">
          <button id="colorButton"></button>
          <a class="nav-link" href="/">Normal</a>
          <a class="nav-link" href="/hard-wordle">Hard</a>
          <a class="nav-link" href="/chaos">Chaos</a>
          <a class="nav-link" href="/zen">Zen</a>
          <a class="nav-link" id="active" href="/leaderboard">Leaderboard</a>
          <button class="hide" id="infoButton">?</button>
      </nav>
    </nav>
    <div class = "titleName">
      <h1> Leaderboard </h1>
    </div>
    <nav class="leaderboard nav nav-pills nav-justified justify-content-center">
          <a class="nav-link" href="/leaderboard">Normal</a>
          <a class="nav-link" id="active" href="/leaderboard-hard">Hard</a>
          <a class="nav-link" href="/leaderboard-chaos">Chaos</a>
    </nav>
    <div class = "leaderboard">
      <table>
        <tr>
          <th> Username </th>
          <th> Score </th>
        </tr>
        {% for data in userScore %}
        <tr>
          <td>{{data[0]}}</td>
          <td>{{data[1]}}</td><br>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="hide" id="colorDiv">
      <button class="colorText" id="default">Default</button> <br style="margin-top: 30px;">
      <button class="colorText" id="classic">Classic</button> <br>
      <button class="colorText" id="winter">Winter</button> <br>
      <button class="colorText" id="coffee">Coffee</button> <br>
      <button class="colorText" id="seafoam">Seafoam</button> <br>
      <button class="colorText" id="forest">Forest</button> <br>
      <button class="colorText" id="mountain">Mountain</button> <br>
      <button class="colorText" id="candy">Candy</button> <br>
      <button class="colorText" id="creamsicle">Creamsicle</button> <br>
      <button class="colorText" id="mars">Mars</button> <br>
    </div>
    <script>
        const wordBank = "{{ words }}".split(" ");
        var wordle = "{{ wordle }}";
        var time = {{ defaultTime }};
        var moreTime = {{ addTime }};
        var gamemode = "{{ mode }}";
        wordle = wordle.toUpperCase();
    </script>
    <div class = "hide">
      <div class = "titleName">
        <h1> Wordle Mania!™ </h1>
      </div>
      <div class="canvas-container">
        <div id= "wordleGrid" style="margin-left:118px">
          <canvas width="455" height="460" id="playground"></canvas>
          <button id="giveUp">End Game</button>
        </div>
        <div class = "continueButton">
          <a id="continue"> Waiting for the game to begin. </a>
        </div>
      </div>
      <div id= "wordleGrid">
        <canvas width="455" height="165" id="keyboard"></canvas>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="static/js/script.js"></script>
  </body>
</html>
